@import "../../_base.scss";

.sidebar {
  background: $black-secondary;

  display: flex;
  flex-direction: column;

  width: 250px;
  height: 90vh;
  padding-top: 2rem;
  transition: transform 0.2s ease-in;

  position: sticky;
  top: 10vh;
  left: 0;
}
